@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 768px)  { @content; }
  }
  @else if $point == mobile {
    @media (max-width:767px)  { @content; }
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}